
#wrapper
  #content
    #header.contentarea
      %div{:style => "float: left"}
        %h1 Foremost Barber Shop
        

        %h2 Coming Soon - 152 Fulton Street, Grand Rapids, MI 49503

      %div{:style => "float: right"}
        = image_tag('peacock_small.jpg')
        
      .clearfix
      
      
    #main.contentarea
    
      %hr
      
      %h3 About the shop
      
      %p Foremost Barbershop - June 1, 2013.
      %p My name is Andrew Theile, I am 27 and I have been a barber for over 7 years.
      %p Traditional styles, neck shaves, beard trims and hot towel shaves will be offered. I will be taking appointments, but please feel free to walk-in. 16 dollar hair cuts and 25 dollar shaves.
      %p The shop is still under construction and we do not have a land line phone number yet, so please be patient. Please stop back here soon for more information.
      
      .photo
        = image_tag('front_of_building.jpg')
        
      .photo
        = image_tag('chair.jpg')
        
      .clearfix
        
      .photo
        = image_tag('waiting_chairs.jpg')
        
      .photo
        = image_tag('chair_footrest.jpg')
        
      .clearfix
      
      .photo
        = image_tag('chairs.jpg')
        
      .photo
        = image_tag('inside_the_shop.jpg')
        
      .clearfix
      
      %hr
      
      .footer
        %p Foremost Barber Shop - 152 Fulton Street, Grand Rapids, MI, 49503
        %p All images and content are property of Foremost Barbershop. (c) 2013
        