
#wrapper
  #content
    #header.contentarea
      %div{:style => "float: left"}
        %h1 Foremost Barber Shop
        

        %h2 Coming Soon - 152 Fulton Street, Grand Rapids, MI 49503

      %div{:style => "float: right"}
        = image_tag('peacock_small.jpg')
        
      .clearfix
      
      
    #main.contentarea
    
      %hr
      
      %h3 About the shop
      
      %p My name is Andrew Theile, I am 27 and I have been a barber for over 7 years.
      %p Here at Foremost Barber Shop, traditional styles, neck shaves, beard trims and hot towel shaves are offered. Haircuts are $16 and shaves are $25.
      %br
      %p We are open 11am - 7pm (Tuesday through Friday) and 9am - 4pm (Saturday). We are closed on Sunday and Monday.
      %p We take appointments, but feel free to walk-in as well. Please call (616) 458-1313 for an appointment.
      
      %p 
        Visit us on
        %a{href: "https://www.facebook.com/foremostbarbershop", title: "Facebook"} Facebook
        and
        %a{href: "http://www.yelp.com/biz/foremost-barbershop-grand-rapids", title: "Yelp"} Yelp
        !
        -#      %a{href: "https://www.facebook.com/foremostbarbershop", style: "text-decoration: none"}
        -#        = image_tag('FB-f-Logo__white_29.png')
        -#      %a{href: "http://www.yelp.com/biz/foremost-barbershop-grand-rapids", style: "text-decoration: none"}
        -#        = image_tag('twitter-bird-dark-bgs-29.png')
      
      .photo
        = image_tag('front_of_building.jpg')
        
      .photo
        = image_tag('chair.jpg')
        
      .clearfix
        
      .photo
        = image_tag('waiting_chairs.jpg')
        
      .photo
        = image_tag('chair_footrest.jpg')
        
      .clearfix
      
      .photo
        = image_tag('chairs.jpg')
        
      .photo
        = image_tag('inside_the_shop.jpg')
        
      .clearfix
      
      %hr
      
      .footer
        %p Foremost Barber Shop - 152 Fulton Street, Grand Rapids, MI, 49503
        %p All images and content are property of Foremost Barbershop. (c) 2013
        